<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <ROOT time="20190417" version="1.0alpha">
        <BRANCH_LEVEL1 AlgorithmID="1" invokeOrder="1,2,3" index="1" name="BranchLV1_1" nickname="一级分支1" visible="on">
            <BRANCH_LEVEL2 index="1" name="BranchLV2_1" nickname="二级分支1" SubAlgoID="1" visible="off">
                <param index="1" valuetype="int" valueRange="0,10" value="1" name="param1" nickname="参数1" visible="off"/>
            </BRANCH_LEVEL2>
            <BRANCH_LEVEL2 index="2" name="BranchLV2_2" nickname="二级分支2" SubAlgoID="2" visible="off">
                <param index="1" valuetype="int" valueRange="0,10" value="1" name="param2" nickname="参数2" visible="off"/>
            </BRANCH_LEVEL2>
        </BRANCH_LEVEL1>
        <BRANCH_LEVEL1 AlgorithmID="0" invokeOrder="" index="0" name="" nickname="" visible="off"/>
        <BRANCH_LEVEL1 AlgorithmID="3" invokeOrder="1,2,3,4" index="3" name="BranchLV1_2" nickname="一级分支2" visible="on">
            <BRANCH_LEVEL2 index="1" name="BranchLV2_1" nickname="二级分支1" SubAlgoID="1" visible="on">
                <param index="1" valuetype="int" valueRange="0,10" value="1" name="param1" nickname="参数1" visible="on"/>
            </BRANCH_LEVEL2>
            <BRANCH_LEVEL2 index="2" name="BranchLV2_2" nickname="二级分支2" SubAlgoID="2" visible="on">
                <param index="1" valuetype="int" valueRange="0,10" value="1" name="param2" nickname="参数2" visible="on"/>
            </BRANCH_LEVEL2>
        </BRANCH_LEVEL1>
    </ROOT>
</configuration>
