<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<ROOT version="1.0alpha" time="20190417">
  <BRANCH_LEVEL1 name="BranchLV1_1" AlgorithmID="1" nickname="一级分支1" index="1" visible="on" invokeOrder="1,2,3">
    <BRANCH_LEVEL2 name="BranchLV2_1" SubAlgoID ="1" nickname="二级分支1" index="1"  visible="off">
      <param name="param1" valueRange="0,10" nickname="参数1" index="1" valuetype="int" value="1" visible="off"/>
    </BRANCH_LEVEL2>
    <BRANCH_LEVEL2 name="BranchLV2_2" SubAlgoID ="2" nickname="二级分支2" index="2"  visible="off">
      <param name="param2" valueRange="0,10" nickname="参数2" index="1"  valuetype="int" value="1" visible="off"/>
    </BRANCH_LEVEL2>
  </BRANCH_LEVEL1>
  <BRANCH_LEVEL1 name="BranchLV1_2" AlgorithmID="3" nickname="一级分支2" index="3"  visible="on" invokeOrder="1,2,3,4">
    <BRANCH_LEVEL2 name="BranchLV2_1" SubAlgoID ="1" nickname="二级分支1" index="1"  visible="on">
      <param name="param1" valueRange="0,10" nickname="参数1" index="1"  valuetype="int" value="1" visible="on" />
    </BRANCH_LEVEL2>
    <BRANCH_LEVEL2 name="BranchLV2_2" SubAlgoID ="2" nickname="二级分支2" index="2"  visible="on">
      <param name="param2" valueRange="0,10" nickname="参数2" index="1"  valuetype="int" value="1" visible="on" />
    </BRANCH_LEVEL2>
  </BRANCH_LEVEL1>
</ROOT>
</configuration>